.page {
  background: #2A2C2F;
  /* min-width: 1280px; */
  width: 100%;
  min-width: 320px;
  font-family:'Inter', Arial, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
