@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(./Inter-Black/Inter-Black.woff) format('woff'),
       url(./Inter-Black/Inter-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(./Inter-Light/Inter-Light.woff) format('woff'),
       url(./Inter-Light/Inter-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  src: url(./Inter-Bold/Inter-Bold.woff) format('woff'),
       url(./Inter-Bold/Inter-Bold.woff2) format('woff2');
}
