/*.main {
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-top: 48px;
}
}
*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
