.photo-greed {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1184px;
  justify-content: space-between;
  align-content: space-between;
  grid-gap: 16px;
  width: 92.5%;
  margin-bottom: 92px;
}

@media screen and (max-width: 1065px) {
  .photo-greed {
    max-width: 986px;
    width: 95.582%;
  }
}


@media screen and (max-width: 1024px) {
  .photo-greed {
    max-width: 928px;
    width: 90.625%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-greed {
    max-width: 720px;
    width: 93.75%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 380px) {
  .photo-greed {
    grid-template-columns: 1fr;
    width: 90%;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 320px) {
  .photo-greed {
    max-width: 288px;
    grid-gap: 8px;
    margin-bottom: 64px;
  }
}
