.footer__nav {
  box-sizing: border-box;

}

.footer__nav :last-of-type{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-decoration: none;

}

@media screen and (max-width:730px) {
  .footer__nav :last-of-type {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 32px;
  }
}
