.cover__overlay {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 740px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;

}

.cover__overlay::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: .3;
}

.cover__overlay:hover::before {
  background-color: #2A2C2F;
  opacity: .8;
  transition:  .8s ease;}


 @media screen and (max-width: 1024px) {
  .cover__overlay {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-height: 480px;
  }
}

@media screen and (max-width: 580px) {
  .cover__overlay {
    max-height: 380px;
  }
}

@media screen and (max-width: 480px) {
  .cover__overlay {
    max-height: 260px;
  }
}

@media screen and (max-width: 464px) {
  .cover__overlay {
    max-height: 240px;
  }
}

@media screen and (max-width: 330px) {
  .cover__overlay {
    max-height: 200px;
  }
}
