.intro__title {
margin: 0 auto 0 0;
/* font-family: Inter; */
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: calc(58/54);
/* identical to box height, or 107% */
max-width: 690px;
width: 100%;


color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .intro__title {
  max-width: 720px;
  }
}


@media screen and (max-width: 380px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
    width: 80%;
  }
}

